<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezhang.idea">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDEA"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="com.ezhang.idea.ui.login.UpdateAccountActivity"></activity>
        <activity android:name="com.ezhang.idea.ui.hours.EventHoursFormActivity" />
        <activity android:name="com.ezhang.idea.ui.hours.ClassHoursFormActivity" />
        <activity android:name="com.ezhang.idea.ui.login.EditAccountLogoutActivity" />
        <activity android:name="com.ezhang.idea.ui.login.RegisterActivity" />
        <activity android:name="com.ezhang.idea.ui.calendar.CalendarActivity" />
        <activity android:name="com.ezhang.idea.ui.school_information.SchoolInformationActivity" />
        <activity android:name="com.ezhang.idea.ui.hours.HoursActivity" />
        <activity android:name="com.ezhang.idea.ui.contact_us.ContactFormActivity" />
        <activity
            android:name="com.ezhang.idea.MainActivity"
            android:label="@string/title_activity_home_page" />
        <activity
            android:name="com.ezhang.idea.ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>